:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #cccccc;
    --color-green: #6eb200;
    --color-red: #af0000;
    --color-blue: #4162f6;

    --font-family-titillium-web: 'Titillium Web', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    font-family: var(--font-family-titillium-web);
    
    background-color: var(--color-grey);
}

.app {
    width: 380px;
}

.app__header {
    display: flex;
    align-items: flex-end;

    height: 160px;

    padding: 20px;

    background-image: url('../image/background.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.app__button-clear {
    position: absolute;
    right: 20px;
    top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;

    padding: 0;

    background: transparent;
    outline: 0;
    border: 0;
}

.app__button-clear i {
    font-size: 30px;
    color: var(--color-white);
}

.app__button-clear i:hover {
    text-shadow: 1px 3px 5px var(--color-black);
    transform: rotate(45deg);
    cursor: pointer;
}

.app__date {
    color: var(--color-white);
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

.app__content {
    width: 380px;
    height: 350px;
    max-height: 350px;

    background-color: var(--color-white);

    overflow: auto;
}

.app__content::-webkit-scrollbar {
    display: none;
}

.app__content ul {
    padding: 0;
    margin: 0;
}

.app__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    border-bottom: 1px solid var(--color-grey);
    list-style: none;
}

.app__item i.co {
    font-size: 25px;
}

.app__item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: var(--color-green);
}

.app__item p.app__text {
    width: 100%;
    max-width: 285px;

    font-size: 20px;

    background-color: var(--color-white);
}

.lineThrough {
    text-decoration: line-through;
    color: var(--color-grey);
}

.app__item i.de {
    font-size: 25px;
}

.app__item i.de:hover {
    color: var(--color-red);

    cursor: pointer;
}

.app__control {
    display: flex;
    align-items: center;

    width: 360px;
    height: 40px;

    padding: 10px;

    background-color: var(--color-white);
    border-top: 1px solid var(--color-grey);
}

.app__control i {
    font-size: 40px;
    color: var(--color-blue);
}

.app__control input {
    height: 35px;
    width: 100%;

    padding-left: 10px;

    font-size: 20px;

    background-color: transparent;
    border: none;
}
