:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #cccccc;
    --color-green: #6eb200;
    --color-red: #af0000;
    --color-blue: #4162f6;

    --font-family-titillium-web: 'Titillium Web', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    font-family: var(--font-family-titillium-web);
    
    background-color: var(--color-grey);
}

.app {
    width: 380px;
}

.app__header {
    width: 380px;
    height: 200px;

    background-image: url('../image/background.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.app__clear {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 30px;
    height: 30px;
}

.app__clear i {
    font-size: 30px;
    color: var(--color-white);
}

.app__clear i:hover {
    text-shadow: 1px 3px 5px var(--color-black);
    transform: rotate(45deg);
    cursor: pointer;
}

.app__date {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: var(--color-white);
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

.app__content {
    width: 380px;
    height: 350px;
    max-height: 350px;

    background-color: var(--color-white);

    overflow: auto;
}

.app__content::-webkit-scrollbar {
    display: none;
}

.app__content ul {
    padding: 0;
    margin: 0;
}

.app__item {
    position: relative;

    width: 380px;
    height: 45px;
    min-height: 45px;

    padding: 0;
    margin: 0;

    border-bottom: 1px solid var(--color-grey);
    list-style: none;
}

.app__item i.co {
    position: absolute;
    top: 10px;
    left: 15px;

    padding-left: 5px;

    font-size: 25px;
}

.app__item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: var(--color-green);
}

.app__item p.app__text {
    position: absolute;
    top: 5px;
    left: 50px;

    width: 100%;
    max-width: 285px;

    padding: 0;
    margin: 0;

    font-size: 20px;

    background-color: var(--color-white);
}

.lineThrough {
    text-decoration: line-through;
    color: var(--color-grey);
}

.app__item i.de {
    position: absolute;
    right: 15px;
    top: 10px;

    font-size: 25px;
}

.app__item i.de:hover {
    color: var(--color-red);

    cursor: pointer;
}

.app__control {
    position: relative;

    width: 360px;
    height: 40px;

    padding: 10px;

    background-color: var(--color-white);
    border-top: 1px solid var(--color-grey);
}

.app__control i {
    position: absolute;

    font-size: 40px;
    color: var(--color-blue);
}

.app__control input {
    position: absolute;
    left: 50px;

    height: 35px;
    width: 310px;

    padding-left: 10px;

    font-size: 20px;

    background-color: transparent;
    border: none;
}
